.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 355px;
  border: outset 5px #ccc;
  background-color: #bbb;
}

.header {
  width: 280px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #bbb;
  display: flex;
  flex-wrap: wrap;
  border: inset 5px #ccc;
}

.button {
  width: 40px;
  height: 40px;
  border: outset 5px #ccc;
  background: url('../../assets/images/icons.png') no-repeat;
  background-color: #bbb;
  background-size: 1400%;
}

.button:active {
  border-style: inset;
}

.board {
  width: 280px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  border: inset 5px #ccc;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/icons.png') no-repeat;
}

.stone {
  width: 30px;
  height: 30px;
  border: outset 5px #ccc;
  background: url('../../assets/images/icons.png') no-repeat;
  background-color: #bbb;
  background-size: 1400%;
}

.stone:active {
  border-style: none;
}
